button {
    margin-left: 10px !important;
}

audio {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

#timer {
    width: 300px;
    margin: 20px auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    border: 2px solid #fff;

}
#timerP {
    height: 5px;
    width: 320px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    border: 2px solid #fff;

}

#volumen[type="range"] {
    height: 70px;
    width: 20px;
    appearance: slider-vertical;
}

input::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #535353;
}
.files{
    margin-left: 10px;
}
.card-img{
    width: 1280px;
    filter: blur(4px) brightness(70%);
}
.row{
    padding: 30px
}
body{
    background-color: #2e2e2e  !important;
}
.navbar{
    background-color: #2e2e2e  !important;
}
.btn{
    color: greenyellow;
}
#play_button{
    background-color: greenyellow;
    width: 52px;
    height: 52px;
    padding: 0px;
}
#favorite{
    background-color: rgb(233, 220, 40);
    width: 52px;
    height: 52px;
    padding: 0px;
}

#navphone {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #464646bd  !important;
    padding-bottom: 10px;
    text-align: center;
    z-index: 3;
  }
  
  #floating-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #floating-menu ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  #floating-menu ul li a {
    color: #fff;
    text-decoration: none;
  }
  #title_back{
    margin:0;
  }
  #logo{
    display: grid;
    position:absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  #offcambasNavbar {
    background-color: rgba(255, 255, 255, 0.685); /* Fondo semitransparente */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #464646bd  !important;
    padding-bottom: 10px;
    text-align: center;
    z-index: 3;
  }